<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" href="/base.css">

<body>
<img src='/img/sunrise_title.jpg' height='100%' width='100%' alt='sunrise_title'>
{% block content %}{% endblock %}
</body>
</html>
